:root {
    --bg-grey: #242424;
    --bg-darkgrey: #1a1a1a;
    --bg-red: #b90e0e;
    --bg-lightred: #dd1414;
}

.logo{
    width: 30px; 
    height: 30px; 
}

.search-svg{
    width: 20px;
    filter: opacity(.6);
}

.search-svg:hover{
    filter: none;
}

.logout-btn{
    padding-right: 20px;
}

.logout{
    width: 30px;
}

.video-container{
    padding: 20px;
}

.video-player{
    width: 97%;
    height: 85%;
    position: absolute;
}

/* ############ RESPONSIVE ######### */
@media only screen and (max-width: 600px) {
    .header {
        /* TODO Evitar que se rompa el Header con resoluciones más pequeñas */
    }
  }

/* ############ HEADER ########### */

.header {
    background-color: var(--bg-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unqflix-logo {
    width: 100px;
    background-color: var(--bg-red);
}

.unqflix-logo:hover {
    background-color: var(--bg-lightred);
}

.btn-logout {
    font-weight: bolder;
    font-size: 18px;
    margin-right: 1em;
}


/* ############ LOGIN / REGISTER ########### */

.unqflix-logo-modal {
    width: 100px;
    background-color: var(--bg-red);
}

.modal-header {
    width: 100%;
    background-color: var(--bg-red);
    margin-bottom: 3em;
    border: 0;
}

.form-item {
    margin: 1em 0;
    display: flex;
    justify-content: center;

}

.auth-container {    
    background-color: var(--bg-grey);
    width: 370px;
    height: 500px;

}

.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.login-form, .register-form {
    padding: 0 20px;
}

.btn-primary {
    background-color: var(--bg-red) !important;
    border: 0;
}

.btn-primary:hover {
    background-color: var(--bg-lightred) !important;
}

a {
    color: #ff1414 !important; 
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

a:hover {
    filter: none;
    color: white !important;
    text-decoration: none;
}