.container{    
    box-shadow: 2px 2px 5px 5px rgba(0.2, 0.2, 0.3, 0.3);
    background-color: snow;
    margin-top: 100px;
    margin-left: 100px;
    width: 370px;
    height: 450px;
    position: relative;    
}

.unqflix-logo{
    margin-top: 20px;
    margin-left: 120px;
    padding: 10px;
    width: 100px;
    
}

.btn-register{
    cursor: pointer;
    width: 20px;
    padding-top: 30px;
    padding-left: 12px;
    filter: opacity(.6);
}
.btn-register:hover{
    filter: none;
}

.login-form{
    padding-left: 20px;
    padding-right: 20px;
}

.register-form{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
