.container{    
    box-shadow: 2px 2px 5px 5px rgba(0.2, 0.2, 0.3, 0.3);
    background-color: snow;
    margin-top: 100px;
    margin-left: 100px;
    width: 370px;
    height: 450px;
    position: static;    
}

.unqflix-logo{
    margin-top: 20px;
    margin-left: 120px;
    padding: 10px;
    width: 100px;
    
}

.btn-register{
    cursor: pointer;
    width: 20px;
    padding-top: 30px;
    padding-left: 12px;
    filter: opacity(.6);
}
.btn-register:hover{
    filter: none;
}

.login-form{
    padding-left: 20px;
    padding-right: 20px;
}

.register-form{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}


.navbar-logo{
    padding-right: 20px;
}

.logo{
    width: 30px; 
    height: 30px; 
}

.search-svg{
    width: 20px;
    filter: opacity(.6);
}

.search-svg:hover{
    filter: none;
}

.logout-btn{
    padding-right: 20px;
}

.logout{
    width: 30px;
}

#barra-navegacion{
    background-color: gray;
}

.video-container{
    padding: 20px;
}

.video-player{
    width: 97%;
    height: 85%;
    position: absolute;
}

.unqflix-logo {
    background-color: #b90e0e;
    transform: scale(2,2);
    padding: 0 2em;
}