body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightsalmon;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root{
  font-size: 62.5%;
}
